In [52]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [53]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [54]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [56]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
le=LabelEncoder()

In [59]:
x=df.iloc[:,3:-1].values
print(x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [60]:
y=df.iloc[:,-1].values
y

array([1, 0, 1, ..., 1, 1, 0])

In [61]:
x[:,2]=le.fit_transform(x[:,2])
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [62]:
from sklearn.compose import ColumnTransformer

In [63]:
from sklearn.preprocessing import OneHotEncoder

In [64]:
ct=ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[1])],remainder='passthrough')

In [65]:
x=np.array(ct.fit_transform(x))
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [68]:
from sklearn.preprocessing import StandardScaler

In [69]:
import tensorflow as tf

In [70]:
std=StandardScaler()

In [71]:
x_train=std.fit_transform(x_train)

In [72]:
ann=tf.keras.models.Sequential()

In [73]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [74]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [75]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
235/235 [==============================] - 1s 2ms/step - loss: 0.5764 - accuracy: 0.7247
Epoch 2/100
235/235 [==============================] - 1s 2ms/step - loss: 0.4751 - accuracy: 0.7977
Epoch 3/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4497 - accuracy: 0.7979
Epoch 4/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4337 - accuracy: 0.7992
Epoch 5/100
235/235 [==============================] - 1s 2ms/step - loss: 0.4196 - accuracy: 0.8072
Epoch 6/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8231
Epoch 7/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3927 - accuracy: 0.8340
Epoch 8/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8413
Epoch 9/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8473
Epoch 10/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3615 - accuracy: 0.8511
Epoch 11/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3556 - accuracy: 0.8529
Epoch 12/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3518 - accuracy: 0.8560
Epoch 13/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3495 - accuracy: 0.8548
Epoch 14/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8573
Epoch 15/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8576
Epoch 16/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3452 - accuracy: 0.8564
Epoch 17/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3446 - accuracy: 0.8565
Epoch 18/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8580
Epoch 19/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3428 - accuracy: 0.8576
Epoch 20/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8585
Epoch 21/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8593
Epoch 22/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8608
Epoch 23/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8585
Epoch 24/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8597
Epoch 25/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8593
Epoch 26/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8604
Epoch 27/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8621
Epoch 28/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8605
Epoch 29/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8616
Epoch 30/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8600
Epoch 31/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8615
Epoch 32/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8625
Epoch 33/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8613
Epoch 34/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8624
Epoch 35/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8601
Epoch 36/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8619
Epoch 37/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8619
Epoch 38/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8612
Epoch 39/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8621
Epoch 40/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8616
Epoch 41/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8621
Epoch 42/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8625
Epoch 43/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8628
Epoch 44/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8623
Epoch 45/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8633
Epoch 46/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8625
Epoch 47/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8627
Epoch 48/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8625
Epoch 49/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8617
Epoch 50/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8623
Epoch 51/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8628
Epoch 52/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8627
Epoch 53/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8633
Epoch 54/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8641
Epoch 55/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8627
Epoch 56/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8621
Epoch 57/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8628
Epoch 58/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3321 - accuracy: 0.8643
Epoch 59/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8637
Epoch 60/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8641
Epoch 61/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8648
Epoch 62/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3316 - accuracy: 0.8637
Epoch 63/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3316 - accuracy: 0.8631
Epoch 64/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3314 - accuracy: 0.8637
Epoch 65/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8627
Epoch 66/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3312 - accuracy: 0.8639
Epoch 67/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8651
Epoch 68/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3308 - accuracy: 0.8624
Epoch 69/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8640
Epoch 70/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8645
Epoch 71/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8644
Epoch 72/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8631
Epoch 73/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3310 - accuracy: 0.8628
Epoch 74/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3306 - accuracy: 0.8629
Epoch 75/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3307 - accuracy: 0.8627
Epoch 76/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3307 - accuracy: 0.8625
Epoch 77/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3301 - accuracy: 0.8636
Epoch 78/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3303 - accuracy: 0.8640
Epoch 79/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3305 - accuracy: 0.8643
Epoch 80/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3302 - accuracy: 0.8625
Epoch 81/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8635
Epoch 82/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8643
Epoch 83/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3301 - accuracy: 0.8635
Epoch 84/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8636
Epoch 85/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8625
Epoch 86/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3299 - accuracy: 0.8652
Epoch 87/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3301 - accuracy: 0.8620
Epoch 88/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3301 - accuracy: 0.8625
Epoch 89/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3298 - accuracy: 0.8620
Epoch 90/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3296 - accuracy: 0.8637
Epoch 91/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3293 - accuracy: 0.8635
Epoch 92/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3295 - accuracy: 0.8632
Epoch 93/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3294 - accuracy: 0.8631
Epoch 94/100
235/235 [==============================] - 1s 4ms/step - loss: 0.3290 - accuracy: 0.8639
Epoch 95/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3288 - accuracy: 0.8636
Epoch 96/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.8641
Epoch 97/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8648
Epoch 98/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3284 - accuracy: 0.8635
Epoch 99/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.8645
Epoch 100/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3281 - accuracy: 0.8639

In [76]:
x_train = std.fit_transform(x_train)
x_test = std.transform(x_test)

In [77]:
y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

79/79 [==============================] - 0s 1ms/step
[[1 0]
 [1 0]
 [1 0]
 ...
 [1 0]
 [1 1]
 [1 1]]

In [78]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [79]:
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[ 732 1248]
 [ 120  400]]

0.4528